<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
<h2>{{ flatpage.title }}</h2>
<hr>
{% if article_list %}
{% for item in article_list %}
<p>
    {{ item.title }}
    {{ item.datetime_of_topic|date:'M: d: Y' }}
    {{ item.text|truncatechars:20 }}
</p>
{% endfor %}
{% else %}
<h2>Ничего интересного</h2>
{% endif %}

{% if page_obj.has_previous and page_obj.previous_page_number != 1 %}
    <a href="?page=1">{{1}}</a>
    <a href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a>
{% elif page_obj.previous_page_number == 1 %}
    <a href="?page=1">{{1}}</a>
{% endif%}

{{page_obj.number}}

{% if page_obj.has_next and page_obj.next_page_number != page_obj.paginator.num_pages %}
    <a href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a>
    <a href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a>
{% elif page_obj.next_page_number == page_obj.paginator.num_pages %}
    <a href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a>
{% endif%}

{% endblock content %}</title>
</head>
<body>

</body>
</html>