{% extends 'flatpages/default.html' %}
{% load custom_tags %}
{% block title %}
{{ flatpage.title }}
{% endblock title %}
<br>
{% block content %}
<h1>Запрос</h1>
<hr>
{# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
<form action="" method="get">
    {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
    {{ filterset.form }}
    {# Добавим кнопку отправки данных формы #}
    <input type="submit" value="Найти"/>
</form>
<hr>
{% if filterset.qs %}
{% for item in filterset.qs %}
<p>
    {{ item.title }}
    {{ item.datetime_of_topic|date:'M: d: Y' }}
    {{ item.text|truncatechars:20 }}
</p>
{% endfor %}
{% else %}
<h2>Ничего не найдено</h2>
{% endif %}

<hr>
{% endblock content %}
<br>